@model List<Tuple<string, int>>
@{
    ViewBag.Title = "Agents Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach(Tuple<string,int> agent in Model){
    <div>
        <h3> @agent.Item1</h3>
        Accepted reservations: @agent.Item2 
    </div>
    <br>
}