@model airplane_ticketsystem.Models.ReservationListModel
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (ReservationModel reservation in Model.ReservationList)
{
    <div>
        Username: @reservation.username
        FlightID: @reservation.flightID
        Number of Seats: @reservation.numSeats;
        @if(reservation.accepted == true){
            <br>
            <span color="gray">Accepted </span>
        }else{
            @using (Html.BeginForm("AcceptReservation", "Agent",new { id = reservation.reservationId}, FormMethod.Post)){
           <button type="submit">Accept</button>
           }
        }
    </div>
    <br><br>
}