@model airplane_ticketsystem.Models.ReservationListModel
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="rList">
 @foreach (ReservationModel reservation in Model.ReservationList)
{
    <div>
        <h3>ReservationID :@reservation.reservationId</h3>
        Username: @reservation.username
        FlightID: @reservation.flightID
        Number of Seats: @reservation.numSeats
        @if(reservation.accepted == true){
            <br>
            <span  color="gray">Accepted </span>
        }else{
            <form type = "post" asp-controller = "Agent" 
            asp-action = "AcceptReservation"
            asp-route-id = "@reservation.reservationId">
            <button type="submit">Accept</button>
            </form>   
        }
    </div>
    <br><br>
}
</div>

